
sdist/
develop-eggs/
__pycache__/
.Python
*.pyd
# Virtual Environment
# Distribution / packaging
lib/
.env
*.so
wheels/
dist/
#data
var/
*.pyo
parts/
node_modules/
.eggs/
# C extensions
.sqlite3
eggs/
.venv/
*.egg-info/
.installed.cfg
# Byte-compiled / optimized / DLL files
build/
.DS_Store
venv/
! .env.example
downloads/
*.egg
.env.*
# Environment variables
*.pyc
lib64/
