
parts/
*.egg
*.pyo
build/
lib64/
# C extensions
*.pyc
lib/
sdist/
.venv/
*.so
# Virtual Environment
.DS_Store
.installed.cfg
downloads/
wheels/
! .env.example
dist/
.Python
*.egg-info/
.env
.env.*
eggs/
var/
node_modules/
develop-eggs/
.eggs/
#data
# Environment variables
# Byte-compiled / optimized / DLL files
*.pyd
venv/
__pycache__/
# Distribution / packaging
.sqlite3
