
build/
# Byte-compiled / optimized / DLL files
# Environment variables
.env
# Distribution / packaging
sdist/
lib64/
.DS_Store
.env.*
lib/
parts/
__pycache__/
.eggs/
# Virtual Environment
develop-eggs/
*.so
.venv/
downloads/
! .env.example
.sqlite3
.Python
node_modules/
# C extensions
dist/
*.egg
*.pyd
*.egg-info/
eggs/
*.pyo
var/
venv/
*.pyc
wheels/
.installed.cfg
#data
