aiohttp
aiosignal
asgiref
async-timeout
attrs
charset-normalizer
colorama
Django
django-debug-toolbar
django-filter
djangorestframework
environs
exceptiongroup
frozenlist
idna
iniconfig
marshmallow
multidict
packaging
pluggy
pytest
python-dotenv
sqlparse
tomli
typing_extensions
tzdata
yarl
