# Core Framework
Django==4.2.17
gunicorn==22.0.0

# API Support
djangorestframework==3.15.2
django-filter==24.3

# Configuration
environs==11.2.1

# Production Addons
psycopg2-binary==2.9.9 # For PostgreSQL connection
whitenoise==6.7.0 # For serving static files